@import '../../variables';
.root b {
  font-weight: 900;
}
.root {
  min-height: 100vh;
  background: linear-gradient(180deg, $third 0%, $primary 100%);
}
.title {
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 4px;
}
.describe {
  width: 500px;
  font-size: 36px;
  line-height: 42px;
}
.contentWrap {
  width: 100%;
  display: flex;
  position: relative;
  padding-left: 157px;
  padding-right: 157px;
}
.contentText {
  width: 100%;
}
.contentParallax {
  // width: 750px;
  right: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.love {
  font-size: 24px;
  line-height: 28px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}
.love span {
  color: red;
}
